@model EquiMarket.Models.HorseEditViewModel

@{
    ViewData["Title"] = "Redigera annons";
}

<div class="content">
    <h1>@ViewData["Title"]</h1>

    <form asp-action="Edit" enctype="multipart/form-data" class="ad-form">
        <div asp-validation-summary="ModelOnly" class="error"></div>
        <input type="hidden" asp-for="Id" />


        <h2>Information om hästen</h2>
        <div class="form-group">
            <label asp-for="Name">Hästens namn</label>
            <span asp-validation-for="Name" class="error"></span>
            <input asp-for="Name" />
        </div>

        <div class="flex-group">

            <div class="form-group">
                <label asp-for="BirthDate"></label>
                <span asp-validation-for="BirthDate" class="error"></span>
                <input asp-for="BirthDate" />
            </div>
            <div class="form-group">
                <label asp-for="Gender"></label>
                <span asp-validation-for="Gender" class="error"></span>
                <select asp-for="Gender" asp-items="Html.GetEnumSelectList<GenderType>()">
                    <option value="" selected disabled>Välj i listan</option>
                </select>
            </div>
        </div>

        <div class="flex-group">

            <div class="form-group">
                <label asp-for="Breed"></label>
                <span asp-validation-for="Breed" class="error"></span>
                <input asp-for="Breed" />
            </div>
            <div class="form-group">
                <label asp-for="Height"></label>
                <span asp-validation-for="Height"></span>
                <input asp-for="Height" />
            </div>
        </div>

        <div class="flex-group">

            <div class="form-group">
                <label asp-for="AdType"></label>
                <span asp-validation-for="AdType" class="error"></span>
                <select asp-for="AdType" asp-items="Html.GetEnumSelectList<AdType>()">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Discipline"></label>
                <span asp-validation-for="Discipline" class="error"></span>
                <input asp-for="Discipline" />
            </div>
        </div>

        <div class="flex-group">

            <div class="form-group">
                <label asp-for="Dam"></label>
                <span asp-validation-for="Dam" class="error"></span>
                <input asp-for="Dam" />
            </div>
            <div class="form-group">
                <label asp-for="Sire"></label>
                <span asp-validation-for="Sire" class="error"></span>
                <input asp-for="Sire" />
            </div>
        </div>

        <div class="flex-group">

            <div class="form-group">
                <label asp-for="DamSire"></label>
                <span asp-validation-for="DamSire" class="error"></span>
                <input asp-for="DamSire" />
            </div>
            <div class="form-group">
                <label asp-for="GrandSire"></label>
                <span asp-validation-for="GrandSire" class="error"></span>
                <input asp-for="GrandSire" />
            </div>
        </div>

        <h2>Annons</h2>
        <div class="form-group">
            <label asp-for="Title"></label>
            <span asp-validation-for="Title" class="error"></span>
            <input asp-for="Title" />
        </div>
        <div class="form-group">
            <label asp-for="Content"></label>
            <span asp-validation-for="Content" class="error"></span>
            <textarea asp-for="Content"></textarea>
        </div>
        <div class="form-group">
            @if (Model.HasImage)
            {
                <p>Annonsen har en bild. Du kan ändra den nedan.</p>
            }
            else
            {
                <p>Annonsen har ingen bild ännu. Du kan lägga till en nedan.</p>
            }
            <label asp-for="ImageFile"></label>
            <span asp-validation-for="ImageFile" class="error"></span>
            <input type="file" asp-for="ImageFile">
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <span asp-validation-for="Price" class="error"></span>
            <input asp-for="Price" />
        </div>
        <div class="form-group">
            <input type="submit" value="Spara ändringar" />
        </div>
    </form>


    <div>
        <a asp-action="Index" class="back-link link">Tillbaka till annonser</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}