@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Mina sidor";
}

<div class="content">

    <h1 class="center">Mina sidor</h1>
    <partial name="_ManageNav" />

    <div class="my-pages">
        @RenderBody()
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
