@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Mina sidor";
}


<h1>Mina sidor</h1>


<div>

    <partial name="_ManageNav" />

    @RenderBody()
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
