@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
    ViewData["Title"] = "Mina sidor";
}


<h1>Mina sidor</h1>


<div>

    <partial name="_ManageNav" />

    @RenderBody()
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}
