@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul>
    <li><a id="profile" asp-page="./Index">Profil</a></li>
    <li><a asp-controller="Horse" asp-action="MyHorses">Mina annonser</a></li>
    <li><a id="personal-data" asp-page="./PersonalData">Persondata</a></li>
</ul>
