@page
@model EmailModel
@{
    ViewData["Title"] = "Ändra email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<form id="email-form" method="post">
    <div asp-validation-summary="All" role="alert"></div>
    <div>
        <label asp-for="Input.NewEmail" class="form-label"></label>
        <span asp-validation-for="Input.NewEmail" class="error"></span>
        <input asp-for="Input.NewEmail" aria-required="true" placeholder="Ange ny email" />
    </div>
    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn-link">Uppdatera
        epost</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
