@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Persondata";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div>
    <p>Ditt konto innehåller personlig data. Du kan ladda ner denna data här.</p>
    <form id="download-data" asp-page="DownloadPersonalData" method="post">
        <button type="submit" class="btn-link">Ladda ned</button>
    </form>
    <p>
        Du kan även radera din data. Observera att vid borttagning av din data tas även ditt konto bort permanent.
        Detta kan inte ångras.
    </p>
    <p>
        <a id="delete" asp-page="DeletePersonalData" class="btn-link delete-btn">Radera persondata</a>
    </p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
