@use 'vars' as v;

/* STARTSIDAN */

//Herobild
.hero-img img {
    border-radius: 50px;
    max-width: 2400px;
    margin: auto;
}

//I blickfånget
.frontpage-horses {
    margin-top: 1.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;

    //Hästkorten
    .fp-horse-card {
        position: relative;
        bottom: 0;

        flex-grow: 1;
        flex-basis: 20em;
        @include v.transition;

        &:hover {
            bottom: 1em;
        }

        //Titel
        .ad-title {
            font-family: v.$accent;
            font-weight: 600;
        }
    }
}
.fp-link {
    margin-top: 2em;
}
