@use 'vars' as v;

/* STARTSIDAN */

//Herobild
.hero-img img {
    border-radius: 50px;
    max-width: 2400px;
    margin: auto;
}

//I blickfånget
.frontpage-horses {
    margin-top: 1.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;

    //Hästkorten
    .fp-horse-card {
        background-color: white;
        border-radius: 5px;
        padding: 1em;
        position: relative;
        bottom: 0;

        flex-grow: 1;
        flex-basis: 20em;
        @include v.transition;

        &:hover {
            bottom: 1em;
        }

        //Titel
        .ad-title {
            font-family: v.$accent;
            font-weight: 600;
        }

        .ad-flex {
            display: flex;
            gap: 1em;
            flex-wrap: wrap;
            margin-bottom: 0.5em;
        }
    }
}

//Annonstyp
.ad-type {
    background-color: v.$mediumlight;
    color: white;
    width: fit-content;
    padding: 0.2em 0.8em;
    border-radius: 20px;
}

.fp-link {
    margin-top: 2em;
}
