@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Nekad tillgång";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Du har inte behörighet för denna resurs.</p>
</header>
