@page
@model LoginModel

@{
    ViewData["Title"] = "Logga in";
}

<div class="content">

    <h1 class="center">@ViewData["Title"]</h1>
    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" role="alert"></div>
        <div class="form-group">
            <label asp-for="Input.Email">Email</label>
            <span asp-validation-for="Input.Email" class="error"></span>
            <input asp-for="Input.Email" aria-required="true" placeholder="name@example.com" />
        </div>
        <div class="form-group">
            <label asp-for="Input.Password">Lösenord</label>
            <span asp-validation-for="Input.Password" class="error"></span>
            <input asp-for="Input.Password" aria-required="true" placeholder="Lösenord" />
        </div>
        <div>
            <button id="login-submit" type="submit" class="btn-link">Logga in</button>
        </div>
    </form>
    <p>
        Har du inget konto?
        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="link back-link">Registrera dig
            här</a>
    </p>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
