@page
@model LoginModel

@{
    ViewData["Title"] = "Logga in";
}

<h1>@ViewData["Title"]</h1>
<form id="account" method="post">
    <div asp-validation-summary="ModelOnly" role="alert"></div>
    <div>
        <input asp-for="Input.Email" aria-required="true" placeholder="name@example.com" />
        <label asp-for="Input.Email">Email</label>
        <span asp-validation-for="Input.Email"></span>
    </div>
    <div>
        <input asp-for="Input.Password" aria-required="true" placeholder="Lösenord" />
        <label asp-for="Input.Password">Lösenord</label>
        <span asp-validation-for="Input.Password"></span>
    </div>
    <div>
        <button id="login-submit" type="submit">Logga in</button>
    </div>
    <div>
        <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Skapa nytt konto</a>
        </p>
    </div>
</form>
</section>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
