@page
@model RegisterModel
@{
    ViewData["Title"] = "Skapa konto";
}

<h1>@ViewData["Title"]</h1>


<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

    <div asp-validation-summary="ModelOnly" role="alert"></div>
    <div>
        <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="David" />
        <label asp-for="Input.FirstName">Förnamn</label>
        <span asp-validation-for="Input.FirstName"></span>
    </div>
    <div>
        <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="Larsson" />
        <label asp-for="Input.LastName">Efternamn</label>
        <span asp-validation-for="Input.LastName"></span>
    </div>

    <div>
        <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="namn@exempel.se" />
        <label asp-for="Input.Email">Email</label>
        <span asp-validation-for="Input.Email"></span>
    </div>
    <div>
        <input asp-for="Input.Password" class="form-control" aria-required="true" placeholder="Lösenord" />
        <label asp-for="Input.Password">Lösenord</label>
        <span asp-validation-for="Input.Password"></span>
    </div>
    <div>
        <input asp-for="Input.ConfirmPassword" class="form-control" aria-required="true" placeholder="Lösenord" />
        <label asp-for="Input.ConfirmPassword">Bekräfta lösenord</label>
        <span asp-validation-for="Input.ConfirmPassword"></span>
    </div>
    <button id="registerSubmit" type="submit">Registrera</button>
</form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
