@charset "UTF-8";
/* ALLMÄNNA STILREGLER  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dad3c9;
  width: 100%;
  max-width: 2800px;
  margin: auto;
  font-family: Telex, Arial, Helvetica, sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  position: relative;
}

main {
  padding: 1em;
  min-height: 80dvh;
}

img {
  width: 100%;
  display: block;
}

nav ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
}

button {
  transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
}

.back-link,
.contact-link {
  text-decoration: 2px dotted underline;
}

button,
input[type=submit] {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 1em;
  font-family: Tomorrow, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  color: #222025;
  margin-top: 1em;
  font-family: Tomorrow, Arial, Helvetica, sans-serif;
  font-weight: 400;
}

p {
  margin-bottom: 0.5em;
}

form label {
  display: block;
  margin-left: 1em;
}
form input:not([type=submit]),
form textarea,
form select {
  width: 100%;
  font-size: 1em;
  font-family: Tomorrow, Arial, Helvetica, sans-serif;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  border: none;
}
form input:not([type=submit]):focus,
form textarea:focus,
form select:focus {
  outline: 2px solid #6d6467;
}
form input[type=submit] {
  background-color: #222025;
  color: white;
  padding: 0.5em 1.2em;
  font-size: 1.2em;
  margin-top: 1em;
}

.btn-link {
  background-color: #222025;
  padding: 1em 1.7em;
  display: block;
  width: fit-content;
  color: white;
  border-radius: 5px;
}
.btn-link:hover {
  background-color: #6d6467;
}

/* LAYOUTREGLER */
header {
  width: 100%;
  background-color: #222025;
}
header .header-content-wrapper {
  width: 100%;
  max-width: 1700px;
  margin: auto;
  padding: 1em 2em;
  font-family: Tomorrow, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
}
header a,
header button {
  color: white;
  padding: 0.8em 1.2em;
  border-radius: 5px;
}
header a:hover,
header button:hover {
  background-color: #6d6467;
}
header .logo {
  font-size: 2em;
  padding: 0;
  position: relative;
  bottom: 0.2em;
}
header .logo img {
  display: inline;
  width: 1.5em;
  position: relative;
  top: 0.4em;
}
header .logo:hover {
  background-color: #222025;
}
header nav.desktop {
  width: 60%;
  place-self: center;
}
header nav.desktop ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4em;
}
header .mobile {
  display: none;
}
header .mobile button.burger {
  cursor: pointer;
  position: relative;
  z-index: 1;
}
header .mobile button.burger span {
  display: block;
  margin: 0.3em;
  width: 2em;
  height: 3px;
  background-color: white;
  transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
}
header .mobile button.burger.active span:first-child {
  transform: translateY(7.7px) rotate(405deg);
}
header .mobile button.burger.active span:nth-child(2) {
  opacity: 0;
}
header .mobile button.burger.active span:last-child {
  transform: translateY(-7.7px) rotate(-405deg);
}
header .mobile button.burger:hover {
  background-color: #222025;
}
header .mobile button.burger:hover span {
  background-color: #aba29c;
}
header .mobile nav.mobile-nav {
  background-color: #222025;
  position: absolute;
  right: 0;
  top: -1000px;
  transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
}
header .mobile nav.mobile-nav ul {
  width: 60dvw;
  height: 60dvh;
  min-height: 400px;
  display: flex;
  gap: 2em;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
header .mobile nav.mobile-nav.active {
  top: 0;
}

.content {
  width: 100%;
  max-width: 55em;
  margin: auto;
}

footer {
  background-color: #222025;
  color: white;
  padding: 2em 1em;
  text-align: center;
  font-family: Tomorrow, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

.default-img {
  max-width: 10em;
}

/* STARTSIDAN */
.hero-img img {
  border-radius: 50px;
  max-width: 2400px;
  margin: auto;
}

.frontpage-horses {
  margin-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
.frontpage-horses .fp-horse-card {
  background-color: white;
  border-radius: 5px;
  padding: 1em;
  position: relative;
  bottom: 0;
  flex-grow: 1;
  flex-basis: 20em;
  transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
}
.frontpage-horses .fp-horse-card:hover {
  bottom: 1em;
}
.frontpage-horses .fp-horse-card .ad-title {
  font-family: Tomorrow, Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.frontpage-horses .fp-horse-card .ad-flex {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  margin-bottom: 0.5em;
}

.ad-type {
  background-color: #aba29c;
  color: white;
  width: fit-content;
  padding: 0.2em 0.8em;
  border-radius: 20px;
}

.fp-link {
  margin-top: 2em;
}

/*  DETALJSIDOR FÖR HÄSTANNONSER */
.horse-detail h2 {
  font-size: 1.7em;
}
.horse-detail .horse-info {
  background-color: #6d6467;
  color: white;
  padding: 1em;
  border-radius: 5px;
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
.horse-detail .horse-info span {
  font-weight: bold;
}
.horse-detail .horse-info .ad-type {
  background-color: #222025;
}
.horse-detail .price {
  font-size: 1.7em;
}
.horse-detail .contact-info {
  background-color: white;
  padding: 1em;
  border-radius: 5px;
  margin-bottom: 1em;
}
.horse-detail .contact-info h3 {
  margin-top: 0;
}
.horse-detail .ad-ctrls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

@media (max-width: 840px) {
  header .logo {
    font-size: 1.6em;
  }
  header nav.desktop ul {
    gap: 1em;
  }
}
@media (max-width: 680px) {
  header nav.desktop {
    display: none;
  }
  header .mobile {
    display: block;
  }
  .hero-img img {
    border-radius: 20px;
  }
  .frontpage-horses {
    gap: 1em;
  }
  .frontpage-horses .fp-horse-card {
    flex-basis: 13em;
    position: static;
  }
  .frontpage-horses .ad-flex {
    gap: 0.5em;
  }
}

/*# sourceMappingURL=site.css.map */
